body{
    background-color: #efefef;
    font-family: 'Montserrat';
}

h1{
font-family: 'Montserrat';
}

p{
    font-size: 1.3rem;
}

main{
    max-width: 1000px;
    height: 100%;
    margin: 2rem auto;
    padding-left: 20px;
    padding-right: 20px;
}

section{
    max-width: 1000px;
    background-color: white;
    padding: 60px;
    padding-top: 40px;
    margin: 20px auto;
}

.category{
    margin: 0;
    background-color: green;
    font-size: 10rem;
}